details {
    user-select: none;
  }
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: 63px;
    text-shadow: none;
  }
  
  details[open] summary span.icon {
    transform: rotate(180deg);
    
  }
  
  summary {
    display: flex;
    cursor: pointer;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

  .collapse-text{
    font-size: .9em;
    backdrop-filter: blur(90px);
    text-shadow: none;
  }